@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-auth {
    @apply bg-blue-600 text-white py-1 px-3 rounded-lg flex items-center justify-center cursor-pointer text-[18px] font-semibold hover:bg-blue-800 transition-all duration-300;
  }
  .services > div {
    @apply flex items-center gap-3 mb-2 text-[#555] text-xl font-semibold;
  }
  .input {
    @apply mb-2 border border-gray-300 focus:border-blue-600 focus:outline-none rounded p-2 
        text-lg;
  }
  .sidbarLink {
    @apply flex items-center justify-center lg:justify-start w-full text-xl mb-4 pb-4 lg:border-b border-gray-300 hover:border-yellow-200 hover:text-yellow-200 transition duration-300;
  }
  .btn-link {
    @apply border-2 bg-purple-600 text-white opacity-50 transition-all duration-300  hover:opacity-100 flex items-center justify-center w-5 h-5 sm:w-[30px] sm:h-[30px] mx-2 sm:mx-3 rounded-full p-3  
    text-[10px] sm:text-xs;
  }
  .active-btn {
    @apply border-purple-700 font-bold opacity-100;
  }
}
